[Unit]
Description=My App
Documentation=https://github.com/<GIT_USER>/<REPO>
After=network.target

[Service]
Type=simple
User=<YOUR_USER>
# Env vars, overridden by `.env` file (one var per line?)
Environment="PORT=<PORT>"
WorkingDirectory=<DIR_CONTAINING_PACKAGE-JSON>
# WorkingDirectory is cwd for `bun run`
ExecStart=/home/<YOUR_USER>/.bun/bin/bun run src/index.ts
Restart=always

[Install]
# start the app automatically
WantedBy=multi-user.target