[Unit]
Description=My App
Documentation=https://github.com/<GIT_USER>/<REPO>
After=network.target

[Service]
Type=simple
User=<SYSTEM-USER_ID>
WorkingDirectory=<DIR_CONTAINING_PACKAGE-JSON>
# WorkingDirectory is cwd for `bun run`
ExecStart=/home/<SYSTEM-USER_NAME>/.bun/bin/bun run src/index.ts
Restart=always

[Install]
# start the app automatically
WantedBy=multi-user.target