@layer base {
  :root {
    /* Dark theme (default) */
    --text-dark: black;
    --text-light: white;
    --primary-100: hsla(6, 72%, 89%, 1);
    --primary-200: hsla(347, 45%, 84%, 1);
    --primary-300: hsla(326, 25%, 76%, 1);
    --primary-400: hsla(313, 18%, 64%, 1);
    --primary-500: hsla(289, 13%, 42%, 1);


    --body-bg: var(--primary-500);
    --body-fg: var(--text-dark);
    --body-accent: var(--primary-300);

    --header-bg: var(--primary-400);
    --header-fg: var(--text-dark);
    --header-accent: var(--primary-500);

    --footer-bg: var(--primary-200);
    --footer-fg: var(--text-dark);
    --footer-accent: var(--primary-500);

    --card-bg: var(--primary-300); 
    --card-fg: var(--text-dark);
    --card-accent: var(--primary-500);

    /* Globals */
    box-sizing: border-box;
    --content-width: 800px;

    /* Fonts */
    font-size: 120%;
  }

  body.light {
    /* Light theme */
    --bg: var(--primary-100);
    --fg: var(--text-dark);

    --accent: var(var(--primary-300))
  }
}