@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  :root {
    /* Default theme */
    --dark: rgb(54, 52, 82);
    --light: rgb(240, 240, 240);
    --accent: #ffb8f3;
    --primary-100: hsla(6, 72%, 89%, 1);
    --primary-200: hsla(347, 45%, 84%, 1);
    --primary-300: hsla(326, 25%, 76%, 1);
    --primary-400: hsla(313, 18%, 64%, 1);
    --primary-500: hsla(289, 13%, 42%, 1);

    --body-bg: var(--primary-500);
    --body-fg: var(--dark);
    --body-accent: var(--accent);

    --header-bg: var(--dark);
    --header-fg: var(--primary-500);
    --header-accent: var(--primary-100);

    --card-bg: var(--dark);
    --card-fg: var(--primary-100);
    --card-accent: var(--accent);
    --card-border: var(--primary-400);

    --footer-bg: var(--dark);
    --footer-fg: var(--primary-400);
    --footer-accent: var(--primary-100);

    /* Globals */
    --content-width: 760px;
    --border-radius: 4px;
  }  
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em; 
  text-indent: -.7em;
}

li::before {
  content: "✽ ";
  color: var(--accent);
  padding-right: .5rem;
}