@layer base {
  :root {
    /* Default theme */    
    --dark: rgb(54, 52, 82);
    --light: rgb(240, 240, 240);
    --primary-100: hsla(6, 72%, 89%, 1);
    --primary-200: hsla(347, 45%, 84%, 1);
    --primary-300: hsla(326, 25%, 76%, 1);
    --primary-400: hsla(313, 18%, 64%, 1);
    --primary-500: hsla(289, 13%, 42%, 1);

    --body-bg: var(--primary-500);
    --body-fg: var(--dark);
    --body-accent: var(--primary-300);

    --header-bg: var(--dark);
    --header-fg: var(--primary-500);
    --header-accent: var(--dark);

    --card-bg: var(--dark);
    --card-fg: var(--primary-100);
    --card-accent: var(--light);
    --card-border: var(--primary-400);

    --footer-bg: var(--dark);
    --footer-fg: var(--primary-400);
    --footer-accent: var(--primary-100);

    /* Globals */
    font-size: 120%;
    box-sizing: border-box;
    --content-width: 760px;
    --border-radius: 4px;

    /* Font-family */
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  img {
    max-width: 100%;
  }

  body.light {
    /* Light theme */
    --bg: var(--primary-100);
    --fg: var(--dark);

    --accent: var(var(--primary-300))
    /* ...etc, etc */
  }
}